h1 {
  text-align: center;
}

.navbar .nav-link-item:hover {
  background-color: hsl(0, 0%, 10%);
}

.navbar .nav-link-item {
  float: left;
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.title img {
  margin-left: 20px;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-item {
  padding: 20px 10px;
  font-size: 20px;
  color: #1a3662;
  text-decoration: none;
}

.nav-link-title {
  color: black;
  text-decoration: none;
}

.nav-link-title:hover {
  text-decoration: none;
}

.navbar {
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  font-size: 1.25rem;
  overflow: hidden;
}

.nav-link-item.active {
  background-color: blue;
}

.logout-btn {
  width: 100px;
  height: 50px;
  background-color: hsl(0, 0%, 25%);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: black;
  transform: scale(1.05, 1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.right h3 {
  margin-right: 50px;
}

.right {
  margin-right: 20px;
}
