h1 {
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  font-size: 1.25rem;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}

.navbar li {
  float: left;
}

.title img {
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
