footer {
  padding: 3px;
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 25%);
  color: white;
}

.icon {
  margin-top: 10px;
  color: white;
  margin-left: 8px;
}

.icon:hover {
  transition: 0.5s ease;
  transform: scale(1.2);
}

.rows {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
